body{
    background-color: black;
}
#page-header{
    width: 75%;
    height: 15%;
    position: absolute;  left: 50%; transform: translate(-50%);
    padding-top: 0px;
    background-color: white;
}
#basicDiv{
    width: 75%;
    height: 100%;
    position: absolute;  top: 20%; left: 50%; transform: translate(-50%);
    background-color: darkgray;
}
